<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="students" href="/students">
        <ion-icon name="people"></ion-icon>
        <ion-label>Students</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="teachers" href="/teachers">
        <ion-icon name="person"></ion-icon>
        <ion-label>Teachers</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="courses" href="/courses">
        <ion-icon name="library"></ion-icon>
        <ion-label>Courses</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app> 